.containerHome{
    padding: 0;
    margin: 0 auto;
    height: 100%;
    width: 90%;
    background-color: #fff;
}

.containerHome h2{
    margin: 0;
}

#text{
    border: 2px solid #000;
    border-radius: 15px;
    height: 5vh;
    margin-right: 1vw;
}

#button{
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 5vh;
    transition: all .8s;
    font-weight: 800;
}

#button:hover{
    background-color: red;
}

.character__content{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 20vw);
    grid-gap: 3vw;
}

@media (max-width:800px) {
    .character__content{
        grid-template-columns: 20vw;
    }
}

.character__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #575656;
    /* border: 1px solid #000; */
    border-radius: 15px;
    /* width: fit-content; */
    color: #fff;
}

.containerCharacter{
    color: #fff;
}

.containerCharacter section{
    display: flex;
    align-items: center;
}

#charImg{
    width: 200px;
    height: 200px;
}

a{
    cursor: pointer;
}